$accentColor = #E77728
$textColor = #000000
$borderColor = lightgrey
$codeBgColor = #FF6F59

h2
    color: #E77728


.outbound
    display: none !important

.icon
    display: none !important

.header-anchor
    display: none !important

.sidebar-button
    background-image: url("https://github.com/vadini-agrawal/image-repository/blob/master/images/hamburger-small.png?raw=true") !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 